:root {
    --color-white: hsl(252, 30%, 100%);
    --color-primary: rgb(29, 50, 157);
    --color-red: rgb(247, 54, 99);
    --color-blue: rgb(2, 150, 243);
    --color-primary-2: #ffc8c9;
    --color-primary-3: #c8f9ff;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 110vh;
    background: url(./assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.box_1{
    overflow: hidden;
    margin: auto;
    width: 20rem;
    height: 37rem;
    border:0.3rem solid rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: 2px 8px 38px 5px rgb(127, 197, 255);
    position: relative;
    display: block;
}
.box_2{
    width: 100vw;
    bottom: 0;
    position: relative;
    display: block;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #7b9eff;
    padding: 0.5rem 1rem 2rem 1rem;
}
.leaf_1{
    top: -1rem;
    left: 0rem;
    width: 12rem;
    height: auto;
    transform: rotate(-34deg);
    position: absolute;
    display: block;
    z-index: 10;
    animation: leaf_1 ease-in-out 2.5s;
}
    @keyframes leaf_1 {
        from {
            top: -10rem;
            left: -10rem;
        }
        to {
            top: -1rem;
            left: 0rem;
        }
    }

.leaf_2{
    top: -1rem;
    left: -2rem;
    width: 8rem;
    height: auto;
    transform: rotateZ(171deg);
    position: absolute;
    display: block;
    z-index: 10;
    animation: leaf_2 ease-in-out 5s;
}
    @keyframes leaf_2 {
        from {
            top: -10rem;
            left: -10rem;
        }
        to {
            top: -1rem;
            left: -2rem;
        }
    }

.leaf_3{
    top: 11rem;
    left: 9rem;
    width: 10rem;
    height: auto;
    transform: rotate(-204deg);
    position: absolute;
    display: block;
    z-index: 8;
    animation: leaf_3 ease-in-out 5s;
}
    @keyframes leaf_3 {
        from {
            top: -10rem;
            left: -10rem;
        }
        to {
            top: 11rem;
            left: 9rem;
        }
    }

.avatar{
    text-align: center;
    margin: auto;
    top: 4rem;
    width: 12rem;
    height: auto;
    border:0.3rem solid rgb(123, 255, 152);
    border-radius: 50%;
    box-shadow: 2px 8px 50px 5px rgb(255, 149, 149);
    position: relative;
    display: block;
    z-index: 9;
}
.avatar_2{
    text-align: center;
    top: 4rem;
    left: 3.7rem;
    width: 12rem;
    height: 12rem;
    border:0.3rem solid rgb(123, 255, 152);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9;
    animation: show_avatar_2 ease 10s;
}
    @keyframes show_avatar_2 {
        0% {
            opacity: 0;
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
.avatar_3{
    text-align: center;
    top: 4rem;
    left: 3.7rem;
    width: 12rem;
    height: 12rem;
    border:0.3rem solid rgb(123, 255, 152);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9;
    animation: show_avatar_3 ease 15s;
}
    @keyframes show_avatar_3 {
        0% {
            opacity: 0;
        }
        87% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
.avatar_4{
    text-align: center;
    top: 4rem;
    left: 3.7rem;
    width: 12rem;
    height: 12rem;
    border:0.3rem solid rgb(123, 255, 152);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9;
    animation: show_avatar_4 20s;
}
    @keyframes show_avatar_4 {
        0% {
            opacity: 0;
        }
        90% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
.avatar_5{
    text-align: center;
    top: 4rem;
    left: 3.7rem;
    width: 12rem;
    height: 12rem;
    border:0.3rem solid rgb(123, 255, 152);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9;
    animation: show_avatar_5 25s;
}
    @keyframes show_avatar_5 {
        0% {
            opacity: 0;
        }
        92% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
.avatar_6{
    text-align: center;
    top: 4rem;
    left: 3.7rem;
    width: 12rem;
    height: 12rem;
    border:0.3rem solid rgb(123, 255, 152);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9;
    animation: show_avatar_6 30s;
}
    @keyframes show_avatar_6 {
        0% {
            opacity: 0;
        }
        94% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
.avatar_7{
    text-align: center;
    top: 4rem;
    left: 3.7rem;
    width: 12rem;
    height: 12rem;
    border:0.3rem solid rgb(123, 255, 152);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9;
    animation: show_avatar_7 35s;
}
    @keyframes show_avatar_7 {
        0% {
            opacity: 0;
        }
        94.5% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
.avatar_8{
    text-align: center;
    top: 4rem;
    left: 3.7rem;
    width: 12rem;
    height: 12rem;
    border:0.3rem solid rgb(123, 255, 152);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9;
    animation: show_avatar_8 40s;
}
    @keyframes show_avatar_8 {
        0% {
            opacity: 0;
        }
        95% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
.text{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    z-index: 100;
    color: rgb(254, 100, 100);
    position: relative;
    top: 12.5vh;
    left: -38px;
    font-size: 26px;
}
    .text_1{
        position: absolute;
        left: 64px;
        top: 49px;
        animation: show_1 ease 2s;
        transform: rotateZ(-50deg);
    }
        @keyframes show_1 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 49px;
                color: rgb(254, 100, 100);
            }
    }

    .text_2{
        position: absolute;
        left: 96px;
        animation: show_2 ease 2.5s;
        top: 25px;
        transform: rotateZ(-44deg);
    }
        @keyframes show_2 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 25px;
                color: rgb(254, 100, 100);
            }
        }
        
    .text_3{
        position: absolute;
        left: 126px;
        animation: show_3 ease 3s;
        top: 3px;
        transform: rotateZ(-38deg);
    }
        @keyframes show_3 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 3px;
                color: rgb(254, 100, 100);
            }
        }

    .text_4{
        position: absolute;
        left: 155px;
        animation: show_4 ease 3.5s;
        top: -8px;
        transform: rotateZ(-27deg);
    }
        @keyframes show_4 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: -8px;
                color: rgb(254, 100, 100);
            }
        }
        
    .text_5{
        position: absolute;
        left: 188px;
        animation: show_5 ease 4s;
        top: -19px;
        transform: rotateZ(-9deg);
    }
        @keyframes show_5 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: -19px;
                color: rgb(254, 100, 100);
            }
        }
        
    .text_6{
        position: absolute;
        left: 121px;
        top: 72px;
        animation: show_6 ease-in-out 4s;
    }
        @keyframes show_6 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 72px;
                color: rgb(254, 100, 100);
            }
        }
        
    .text_7{
        position: absolute;
        left: 155px;
        top: 72px;
        animation: show_7 ease-in-out 4.5s;
    }
        @keyframes show_7 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 72px;
                color: rgb(254, 100, 100);
            }
        }

    .text_8{
        position: absolute;
        left: 172px;
        top: 72px;
        animation: show_8 ease-in-out 5s;
    }
        @keyframes show_8 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 72px;
                color: rgb(254, 100, 100);
            }
        }

    .text_9{
        position: absolute;
        left: 200px;
        top: 72px;
        animation: show_9 ease-in-out 5.5s;
    }
        @keyframes show_9 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 72px;
                color: rgb(254, 100, 100);
            }
        }

    .text_10{
        position: absolute;
        left: 222px;
        top: 72px;
        animation: show_10 ease-in-out 6s;
    }
        @keyframes show_10 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 72px;
                color: rgb(254, 100, 100);
            }
        }

    .text_11{
        position: absolute;
        left: 252px;
        top: 72px;
        animation: show_11 ease-in-out 6.5s;
    }
        @keyframes show_11 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 72px;
                color: rgb(254, 100, 100);
            }
        }

    .text_12{
        position: absolute;
        left: 283px;
        top: 72px;
        animation: show_12 ease-in-out 7s;
    }
        @keyframes show_12 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 72px;
                color: rgb(254, 100, 100);
            }
        }
    
    .text_13{
        position: absolute;
        left: 310px;
        top: 72px;
        animation: show_13 ease-in-out 7.5s;
    }
        @keyframes show_13 {
            from {
                opacity: 0;
                top: -390px;
                color: rgb(255, 255, 255);
            }
            to {
                opacity: 1;
                top: 72px;
                color: rgb(254, 100, 100);
            }
        }

.img{
    z-index: 100;
    position: relative;
    top: 26vh;
    left: -38px;
    opacity: 1;
    animation: abc ease-in-out 9s;
}
    .img_1{
        width: 70px;
        height: auto;
        position: absolute;
        border-radius: 15px;
        left: 58px;
        top: 50px;
        transform: rotateZ(389deg);
        border:0.2rem solid rgb(123, 158, 255);
        box-shadow: 2px 8px 38px 5px rgb(170, 193, 255);
        animation: img_1 ease-in-out 4s;
    }
        @keyframes img_1 {
            0% {
                border:0.2rem solid #ffc8c8;
                top: -20px;
                transform: rotateZ(180deg);
                left: 0px;
            }
            50% {
                border:0.2rem solid rgb(222, 123, 255);
                left: 0px;
            }
            100% {
                border:0.2rem solid rgb(123, 158, 255);
                top: 50px;
                transform: rotateZ(-331deg);
            }
        }
    .img_2{
        width: 70px;
        height: auto;
        position: absolute;
        border-radius: 15px;
        left: 115px;
        top: 114px;
        transform: rotateZ(374deg);
        border:0.2rem solid rgb(222, 123, 255);
        box-shadow: 2px 8px 38px 5px rgb(239, 190, 255);
        animation: img_2 ease-in-out 4s;
    }
        @keyframes img_2 {
            0% {
                border:0.2rem solid #ffc8c8;
                top: -10px;
                transform: rotate(0deg);
                opacity: 0;
            }
            1%{
                opacity: 0.5;
            }
            50% {
                border:0.2rem solid #ffc8c8;
                opacity: 0.8;
            }
            100% {
                border:0.2rem solid rgb(222, 123, 255);
                top: 114px;
                transform: rotateZ(374deg);
                opacity: 1;
            }
        }
    .img_3{
        width: 70px;
        height: auto;
        position: absolute;
        border-radius: 15px;
        left: 191px;
        top: 68px;
        transform: rotateZ(-22deg);
        border:0.2rem solid rgb(255, 123, 200);
        box-shadow: 2px 8px 38px 5px rgb(255, 183, 225);
        animation: img_3 ease-in-out 4s;
    }
        @keyframes img_3 {
            0% {
                border:0.2rem solid #ffc8c8;
                top: -50px;
                transform: rotate(120deg);
                opacity: 0;
            }
            1%{
                opacity: 0.5;
            }
            50% {
                border:0.2rem solid rgb(123, 158, 255);
                opacity: 0.8;
            }
            100% {
                border:0.2rem solid rgb(255, 123, 200);
                top: 68px;
                transform: rotateZ(-22deg);
                opacity: 1;
            }
        }
    .img_4{
        width: 70px;
        height: auto;
        position: absolute;
        border-radius: 15px;
        left: 258px;
        top: 126px;
        transform: rotateZ(388deg);
        border:0.2rem solid #c8f9ff;
        box-shadow: 2px 8px 38px 5px rgb(255, 184, 184);
        animation: img_4 ease-in-out 4s;
    }
        @keyframes img_4 {
            0% {
                border:0.2rem solid rgb(123, 158, 255);
                top: -20px;
                transform: rotate(0deg);
                opacity: 0;
            }
            1%{
                opacity: 0.5;
            }
            50% {
                border:0.2rem solid rgb(222, 123, 255);
                opacity: 0.8;
            }
            100% {
                border:0.2rem solid #c8f9ff;
                top: 126px;
                transform: rotateZ(388deg);
                opacity: 1;
            }
        }
.leaf_5{
    top: 16rem;
    left: -2rem;
    width: 12rem;
    height: auto;
    transform: rotateZ(381deg);
    position: relative;
    display: block;
    z-index: 8;
    animation: leaf_5 ease-in-out 6s;
}
    @keyframes leaf_5 {
        from {
            top: -10rem;
            left: 24rem;
            transform:rotateX(180deg);
        }
        to {
            top: 16rem;
            left: -2rem;
            transform: rotateX(0deg) rotateZ(381deg);
        }
    }

.leaf_6{
    top: 6rem;
    left: 14rem;
    width: 10rem;
    height: auto;
    transform: rotateZ(193deg);
    position: relative;
    display: block;
    z-index: 8;
    animation: leaf_6 ease-in-out 6s;
}
    @keyframes leaf_6 {
        from {
            top: -10rem;
            left: -24rem;
            transform:rotateX(180deg);
        }
        to {
            top: 6rem;
            left: 14rem;
            transform: rotateX(0deg) rotateZ(193deg);
        }
    }

.leaf_7{
    top: -5rem;
    left: 14rem;
    width: 10rem;
    height: auto;
    transform: rotateZ(315deg);
    position: absolute;
    display: block;
    z-index: 8;
    animation: leaf_7 ease-in-out 6s;
}
    @keyframes leaf_7 {
        from {
            top: -10rem;
            left: 24rem;
        }
        to {
            top: -5rem;
            left: 14rem;
        }
    }
.sakura_1{
    width: 20px;
    position: absolute;
    animation: sakura_1 ease-in-out 8s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 3s;
}
    @keyframes sakura_1 {
        0% {
            top: -40px;
            left: 0;
            transform: rotateX(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 556px;
            left: 200px;
            transform: rotateX(360deg);
            opacity: 0;
        }
    }
.sakura_2{
    width: 20px;
    position: absolute;
    animation: sakura_2 ease-in-out 10s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 5s;
}
    @keyframes sakura_2 {
        0% {
            top: -40px;
            left: 40px;
            transform: rotate(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        40%{
            top: 100px;
            left: 200px;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 550px;
            left: 20px;
            transform: rotate(360deg);
            opacity: 0;
        }
    }
.sakura_3{
    width: 20px;
    position: absolute;
    animation: sakura_3 ease-in-out 9s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 8s;
}
    @keyframes sakura_3 {
        0% {
            top: -40px;
            left: 60px;
            transform: rotateY(0deg) rotateZ(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        50%{
            top: 300px;
            left: 300px;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 500px;
            left: 100px;
            transform: rotateY(360deg) rotateZ(360deg);
            opacity: 0;
        }
    }
.sakura_4{
    width: 20px;
    position: absolute;
    animation: sakura_4 ease-in-out 6s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 5s;
}
    @keyframes sakura_4 {
        0% {
            top: -40px;
            left: 10px;
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        50%{
            top: 250px;
            left: 80px;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 600px;
            left: 300px;
            transform: rotateY(200deg) rotateX(260deg) rotateZ(260deg);
            opacity: 0;
        }
    }
.sakura_5{
    width: 20px;
    position: absolute;
    animation: sakura_5 ease-in-out 8s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 12s;
}
    @keyframes sakura_5 {
        0% {
            top: -40px;
            left: 0px;
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 520px;
            left: 100px;
            transform: rotateY(200deg) rotateX(260deg) rotateZ(260deg);
            opacity: 0;
        }
    }
.sakura_6{
    width: 20px;
    position: absolute;
    animation: sakura_6 ease-in-out 7s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 10s;
}
    @keyframes sakura_6 {
        0% {
            top: -40px;
            left: 36px;
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        50%{
            top: 280px;
            left: 80px;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 540px;
            left: 200px;
            transform: rotateY(200deg) rotateX(260deg) rotateZ(260deg);
            opacity: 0;
        }
    }
.sakura_7{
    width: 20px;
    position: absolute;
    animation: sakura_7 ease-in-out 10s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 9s;
}
    @keyframes sakura_7 {
        0% {
            top: -40px;
            left: 50px;
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 150px;
            left: 60px;
            transform: rotateY(200deg) rotateX(240deg) rotateZ(280deg);
            opacity: 0;
        }
    }
.sakura_8{
    width: 20px;
    position: absolute;
    animation: sakura_8 ease-in-out 9s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 14s;
}
    @keyframes sakura_8 {
        0% {
            top: -40px;
            left: 52px;
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        50%{
            top: 350px;
            left: 260px;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 620px;
            left: 120px;
            transform: rotateY(200deg) rotateX(240deg) rotateZ(280deg);
            opacity: 0;
        }
    }
.sakura_9{
    width: 20px;
    position: absolute;
    animation: sakura_9 ease-in-out 8s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 4s;
}
    @keyframes sakura_9 {
        0% {
            top: -40px;
            left: -150px;
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 240px;
            left: 252px;
            transform: rotateY(200deg) rotateX(240deg) rotateZ(280deg);
            opacity: 0;
        }
    }
.sakura_10{
    width: 20px;
    position: absolute;
    animation: sakura_10 ease-in-out 11s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 4s;
}
    @keyframes sakura_10 {
        0% {
            top: 10px;
            left: -10px;
            transform: rotateY(10deg) rotateX(50deg) rotateZ(40deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        50% {
            top: 200px;
            left: 220px;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 300px;
            left: 100px;
            transform: rotateY(200deg) rotateX(340deg) rotateZ(480deg);
            opacity: 0;
        }
    }
.sakura_11{
    width: 20px;
    position: absolute;
    animation: sakura_11 ease-in-out 14s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 4s;
}
    @keyframes sakura_11 {
        0% {
            top: 10px;
            left: -10px;
            transform: rotateY(10deg) rotateX(50deg) rotateZ(40deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        50% {
            top: 212px;
            left: 240px;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 100px;
            left: 144px;
            transform: rotateY(200deg) rotateX(340deg) rotateZ(480deg);
            opacity: 0;
        }
    }
.sakura_12{
    width: 20px;
    position: absolute;
    animation: sakura_12 ease-in-out 12s infinite;
    z-index: 1000;
    opacity: 0;
    animation-delay: 4s;
}
    @keyframes sakura_12 {
        0% {
            top: 10px;
            left: -10px;
            transform: rotateY(10deg) rotateX(50deg) rotateZ(40deg);
            opacity: 0.5;
        }
        20% {
            opacity: 1;
        }
        40% {
            top: 220px;
            left: 88px;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 260px;
            left: 28px;
            transform: rotateY(200deg) rotateX(340deg) rotateZ(480deg);
            opacity: 0;
        }
    }
